@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


@import "bootstrap/scss/bootstrap";

$primary-color-middle: #74388E;
$primary-color-dark: #42206C;
$primary: #AE51AA;
$secondary: #AE51AA;

// @import "bootstrap/dist/css/bootstrap";
@import "_typo";
@import "_layout";
@import "_navbar";
@import "_footerbar";
@import "_buttons";